@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Righteous', cursive;
  color: $base-white;
  font-weight: 400;
  line-height: 1.6;
  background-color: $primary;
  min-height: 100vh;
  font-size: 1.5rem;
}

.base-button {
  padding: 1.5rem 2.5rem;
  font-family: inherit;
  background-color: $third-color;
  color: $base-white;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  &:hover {
    color: $base-white;
  background-color: $primary;
  }
  &:disabled {
    background-color: grey;
  }
}

.container {
  max-width: 120rem;
  min-height: 100vh;
  border-radius: 1rem;
  background-color: #c99e71;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;

  @media only screen and (max-width: 1000px) {
    margin: 0 auto;
    padding-top: 2rem;
    // min-height: 100vh;
  }

  &__image-right {
    @media only screen and (max-width: 1000px) {
      display: none;
    }

    position: absolute;
    top: 15rem;
    right: 2rem;
  }

  &__image-left {
    position: absolute;
    top: 35rem;
    left: 5rem;
    transform: rotate(10deg);

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.coffee-form {
  &__header {
    text-align: center;
  }

  &__title {
    font-size: 4.8rem;
  }

  &__description {
    font-size: 1.8rem;
  }
}
